PORT=3000
NODE_ENV=development

HEADLESS=false
NUMBER_BROWSER=5
NETTRUYEN_HOST=https://www.nettruyenmax.com/

MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_NAME=crawler

MYSQL_HOST=127.0.0.1
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_NAME=

PAGE_CONTAINER='#ctl00_divCenter > div > div > div.items > div.row div.item'
PAGE_URL='figure > figcaption > h3 > a'

STORY_TITLE='#item-detail > h1.title-detail'
STORY_THUMNAIL='#item-detail > div.detail-info > div > div.col-xs-4.col-image > img'
STORY_AUTHOR='#item-detail > div.detail-info > div > div.col-xs-8.col-info > ul > li.author.row > p.col-xs-8'
STORY_DESCRIPTION='No infomation'

CHAPTER_STORY_URL='#ctl00_divCenter > div > div:nth-child(1) > div.top > h1 > a'
CHAPTER_CONTAINER='#nt_listchapter > nav > ul > li > div.col-xs-5.chapter > a'
CHAPTER_CHAP='#ctl00_divCenter > div > div:nth-child(1) > div.top > h1 > span'
CHAPTER_IMAGES='.reading-detail .page-chapter > img'
